#content {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 1200px;
    border: 1px solid rgb(230, 230, 230);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

#content>.content-top {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#content>.content-top>.title {
    font-size: 3rem;
    font-weight: 700;
    font-family: 메인폰트;
}

#content>.content-top>.addr {
    font-size: 1.6rem;
    font-family: 메인폰트;
}

#content>.content-top>.desc {
    position: relative;
    margin-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    box-shadow: inset 0 -12px 0 rgba(37, 172, 132, 0.7);
    font-family: 메인폰트;
}

#content>.content-top>.desc::after {
    position: absolute;
    content: '';
}

#content>.content-top>.menu {
    display: flex;
    width: 100%;
    height: 50px;
}

/* left menu */
#content>.content-top>.menu>.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}

#content>.content-top>.menu>.left>p {
    margin-right: 30px;
}

#content>.content-top>.menu>.left>p>i {
    font-size: 1.8rem;
    margin-right: 10px;
}

#content>.content-top>.menu>.left>p>span {
    font-family: 메인폰트;
    font-size: 1.6rem;
}


/* content navigation */
#content>.content-nav {
    width: 100%;
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#content>.content-nav.scroll {
    position: fixed;
    top: 60px;
    background-color: white;
    width: 1160px;
    z-index: 10;
}

#content>.content-nav>ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#content>.content-nav>ul>li {
    position: relative;
    display: block;
}

#content>.content-nav>ul>.line {
    width: 1px;
    height: 20px;
    background-color: rgb(201, 201, 201);
}

/* #content > .content-nav > ul > li:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #ccc;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -8px;
} */
#content>.content-nav>ul>li>span {
    font-family: 메인폰트;
    font-size: 2rem;
}

#content>.content-main {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

/* #content>.content-main>.img {
    width: 900px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 7px; 
} */

#content>.content-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content>.content-desc>.title {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: 메인폰트;
    margin-bottom: 5px;
}

#content>.content-desc>.line {
    width: 100%;
    height: 3px;
    background-color: rgb(201, 201, 201);
    margin-bottom: 5px;
}

/* #content>.content-desc>pre {
    font-family: SUITE-Regular;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 30px;
} */

/* content information */
#content>.content-desc>.info {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 2px solid #017858;
    border-radius: 15px;
}

#content>.content-desc>.info>pre {
    width: 80%;
    font-family: 메인폰트;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 30px;
}

#content>.content-desc>.info #content>.content-desc>.info>ul {
    padding: 0 5px;
    width: 100%;
    position: relative;
    font-size: 1.6rem;
    font-family: 메인폰트;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

#content>.content-desc>.info>ul>li {
    margin: 10px 0;
}

#content>.content-desc>.info>ul strong {
    font-size: 1.8rem;
    margin-right: 15px;
}

#content>.content-desc>.info>ul span {
    font-size: 1.6rem;
}

/* map information */
#content>.content-desc>.map-info {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content>.content-desc>.map-info>.courseInfo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    border-top: 1px solid rgb(201, 201, 201);
    border-bottom: 1px solid rgb(201, 201, 201);
}

#content>.content-desc>.map-info>.courseInfo>.course-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 960px;
    height: 100%;
}

#content>.content-desc>.map-info>.courseInfo>.course-container>ul {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 100%;
}

#content>.content-desc>.map-info>.courseInfo>.course-container>ul>li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#content>.content-desc>.map-info>.courseInfo>.course-container>ul>li>i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    /* padding: 10px; */
    border-radius: 50%;
    background-color: rgb(240, 240, 240);
    color: #017858;
}

#content>.content-desc>.map-info>.courseInfo>.course-container>ul>li>div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#content>.content-desc>.map-info>.courseInfo>.course-container>ul>li>div>span {
    font-size: 1.5rem;
    font-family: 메인폰트;
    margin-bottom: 3px
}

#content>.content-desc>.map-info>.courseInfo>.course-container>ul>li>div>strong {
    font-size: 1.5rem;
    font-family: 메인폰트;
}

#content>.content-desc>.map-info>.map {
    width: 1000px;
    height: 500px;
}

#content>.content-desc>.map-info>.mapInfoBox {
    width: 700px;
    height: 100px;
    margin: 10px 0 30px 0;

    display: flex;
    flex-direction: row;
    text-align: center;

}

#content>.content-desc>.map-info>.mapInfoBox>ul {
    width: 100%;
    font-family: 메인폰트;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content>.content-desc>.map-info>.mapInfoBox>ul>li {
    font-size: 1.9rem;
    margin: 5px 0;
}

#content>.content-desc>.map-info>.mapInfoBox>ul strong {
    margin-right: 15px;
}

/* comment */
#content>.content-desc>.cmt {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content>.content-desc>.cmt>.cmtTitle {
    background: #017858;
}


#content>.content-desc>.cmt>p>strong {
    font-size: 3rem;
    font-family: 메인폰트;
    margin: 0 8px 0 13px;
    color: #f2f2f2;
    padding: 3px;
}

#content>.content-desc>.cmt>p>span {
    font-size: 2rem;
    font-family: 메인폰트;
    color: #f2f2f2;
}

#content>.content-desc>.cmt>.cmt-input {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content>.content-desc>.cmt>.cmt-input>.input {
    width: 100%;
    height: 100%;
    /* background-color: #c4dff3; */
    ;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#content>.content-desc>.cmt>.cmt-input>.input>textarea {
    width: 100%;
    height: 100px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: 메인폰트;
    padding: 10px;
    resize: none;
    outline: none;
    border: 2px solid #25ac84;
    border-radius: 10px;
    background-color: white;
}


#content>.content-desc>.cmt>.cmt-input>.input>button {
    margin-top: 20px;
    width: 90px;
    height: 50px;
    align-self: flex-end;
    font-family: 메인폰트;
    font-size: 1.6rem;
    outline: none;
    background-color: #017858;
    border: none;
    border-radius: 5px;
    color: white;
}

/* comment content start */

#content>.content-desc>.cmt>.cmt-box>.cmt-view {
    position: relative;
    display: flex;
    align-items: center;

    &+& {
        margin-top: 30px;
    }
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-img {
    position: absolute;
    top: 17px;
    margin-left: 20px;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-img>i {
    font-size: 3rem;
    border-radius: 50%;
    background-color: #25ac84;
    color: white;
    padding: 10px 13px;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item {
    width: 90%;
    padding: 20px;
    margin-left: 70px;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item>.cmt-user {
    display: flex;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item>.cmt-user>.name>span {
    font-size: 1.8rem;
    font-family: 메인폰트;
    font-weight: bold;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item>.cmt-user>.date>span {
    font-size: 1.1rem;
    font-family: 메인폰트;
    color: gray;
    opacity: 0.8;
    margin-left: 7px;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item>.reply {
    margin-top: 10px;
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item>.reply>p {
    font-size: 1.6rem;
    font-family: 메인폰트;
    line-height: 2.6rem;
    /* color: gray; */
}

#content>.content-desc>.cmt>.cmt-box>.cmt-view>.cmt-item>.reply>hr {
    margin-top: 20px;
    border-top: 3px solid #017858;

}



#content>.content-desc>.courseSwiper {
    width: 80%;
}

#content>.content-desc>.courseSwiper>.courseSlide {
    width: 20px;
}

/* detail information box */
.detailSwiperBox {
    width: 1000px;
    margin-bottom: 100px;
    background-color: #f2f2f2;

}

#content>.content-desc>.detailSwiperBox>.detailBtnSwiper {
    margin: 20px 0px 30px 0px;
    padding: 4%;
}


/* course btn swiper button */
.detailBtnSwiper>.swiper-button-prev {
    width: 40px;
    height: 40px;

    position: absolute;
    left: 20px;
    /* margin-left: 120px; */
    background: url(../assets/btn_prev.png) no-repeat;
    background-size: 40px;
}

.detailBtnSwiper>.swiper-button-next {
    width: 40px;
    height: 40px;

    position: absolute;
    right: 20px;
    background: url(../assets/btn_next.png) no-repeat;
    background-size: 40px;

}

.detailBtnSwiper>.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.compBox {
    border: 3px solid #017858;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0 4% 4% 4%
}


.compSlideBtn {
    position: relative;
    width: 208px;
    height: 275px;
    object-fit: cover;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
.compSlideBtn > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.compSlideBtn.sel {
    outline: 2px solid #25ac84;
}
.slide-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    top: 0;
    left: 0;
    /* background-color: rgba(37, 172, 132, 0.2); */
    color: white;
}
.compSlideBtn > .slide-text > span {
    display: none;
    font-size: 2.4rem;
    font-family: 메인폰트;
    font-weight: bold;
}
.compSlideBtn.sel > .slide-text > span {
    display: inline;
}
.compSlideBtn.sel > .slide-text {
    background-color: rgba(37, 172, 132, 0.2);
}
.compSlideBtn:hover {
    outline: 2px solid #25ac84;
}
.compSlideBtn:hover > .slide-text > span {
    display: inline;
}
.slide-text:hover {
    background-color: rgba(37, 172, 132, 0.2);
}

.compSlide {
    width: 500px;
    height: 400px;
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .compSlideBtn {
    position: relative;
    width: 200px;
    height: 200px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    overflow: hidden;
    z-index: 2;
}
.compSlideBtn > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.compSlideBtn:hover{
    opacity: 1;
}
.compSlideBtn.sel {
    opacity: 1;
}
.compSlideBtn.sel::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(140, 233, 205, 0.5);
} */











.toggle-map {
    width: 100%;
    /* height: 50px; */
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.toggle-map>li {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    height: 70px;
    color: rgb(150, 150, 150);
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    cursor: pointer;
}

.toggle-map>li>i {
    font-size: 2.4rem;
}

.toggle-map>li>span {
    font-size: 1.6rem;
    font-family: 메인폰트;
}

.toggle-map>li.sel {
    color: #25ac84;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toggle-map>li:hover {
    color: #25ac84;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}