#content {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 1400px;
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

#content > .content-top {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#content > .content-top > .title {
    font-size: 3rem;
    font-weight: 700;
}
#content > .content-top > .addr {
    font-size: 1.6rem;
}
#content > .content-top > .desc {
    position: relative;
    margin-top: 30px;
    font-size: 2.2rem;
    font-weight: bold;
    box-shadow: inset 0 -12px 0 rgba(255,223,223,1);
}
#content > .content-top > .desc::after {
    position: absolute;
    content:'';

}
#content > .content-top > .menu {
    display: flex;
    width: 100%;
    height: 50px;
}
#content > .content-top > .menu > .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
}
#content > .content-top > .menu > .left > p {
    margin-right: 30px;
}
#content > .content-top > .menu > .left > p > i {
    font-size: 1.8rem;
    margin-right: 10px;
}
#content > .content-top > .menu > .left > p > span {
    font-family: SUITE-Regular;
    font-size: 1.6rem;
}
#content > .content-nav {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#content > .content-nav > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#content > .content-nav > ul > li {
    position: relative;
    display: block;
}
#content > .content-nav > ul > .line {
    width: 1px;
    height: 16px;
    background-color: black;
}
/* #content > .content-nav > ul > li:not(:first-child)::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #ccc;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -8px;
} */
#content > .content-nav > ul > li > span {
    font-family: SUITE-Regular;
    font-size: 2rem;
}
#content > .content-main {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
}
#content > .content-main > .img {
    width: 900px;
    height: 600px;
    border: 1px solid gray;
    border-radius: 7px;
}
#content > .content-desc {
    width: 100%;

    display: flex;
    flex-direction: column;
}
#content > .content-desc > .title {
    font-size: 2.8rem;
    font-weight: bold;
    font-family: SUITE-Regular;
    margin-bottom: 5px;
}
#content > .content-desc > .line {
    width: 100%;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}
#content > .content-desc > pre {
    font-family: SUITE-Regular;
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 30px;
}
#content > .content-desc > .map-info {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content > .content-desc > .map-info > .map {
    width: 900px;
    height: 300px;
    border: 1px solid gray;
    margin-bottom: 20px;
}
#content > .content-desc > .map-info > .info {
    position: relative;
    width: 900px;
}
#content > .content-desc > .map-info > .info > ul {
    padding: 0 5px;
    width: 100%;
    position: relative;
    font-family: SUITE-Regular;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
#content > .content-desc > .map-info > .info > ul > li {
    margin: 10px 0;
}
#content > .content-desc > .map-info > .info > ul strong {
    font-size: 1.8rem;
    margin-right: 15px;
}
#content > .content-desc > .map-info > .info > ul span {
    font-size: 1.6rem;
}
#content > .content-desc > .cmt {
    width: 100%;
    display: flex;
    flex-direction: column;
}
#content > .content-desc > .cmt > p > strong {
    font-size: 3rem;
    font-family: SUITE-Regular;
    margin-right: 10px;
}
#content > .content-desc > .cmt > p > span {
    font-size: 2rem;
    font-family: SUITE-Regular;
}
#content > .content-desc > .cmt > .cmt-input {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content > .content-desc > .cmt > .cmt-input > .input {
    width: 100%;
    height: 100%;
    background-color: #c4dff3;;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#content > .content-desc > .cmt > .cmt-input > .input > textarea {
    width: 100%;
    height: 100px;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-family: SUITE-Regular;
    padding: 7px;
    resize: none;
    outline: none;
    border: 1px solid gray;
    background-color: white;
}
#content > .content-desc > .cmt > .cmt-input > .input > button {
    margin-top: 10px;
    width: 80px;
    height: 40px;
    align-self: flex-end;
    font-family: SUITE-Regular;
    font-size: 1.6rem;
    outline: none;
    background-color: #245D82;
    border: none;
    color: white;
}
#content > .content-desc > .cmt > .cmt-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item {
    position: relative;
    width: 100%;
    border-radius: 7px;
    background-color: #F8FDCF;
    margin: 20px 0;
    padding: 20px;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: #E2F6CA;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .name {
    position: absolute;
    top: -20px;
    left: 20px;
    background-color: white;
    padding: 7px 16px;
    border-radius: 7px;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .date {
    position: absolute;
    bottom: 5px;
    right: 10px;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .date > span {
    font-size: 1.4rem;
    font-family: SUITE-Regular;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .name > span {
    font-size: 1.8rem;
    font-family: SUITE-Regular;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .reply {
    margin-top: 10px;
    margin-left: 15px;
}
#content > .content-desc > .cmt > .cmt-view > .cmt-item > .reply > p {
    font-size: 1.8rem;
    font-family: SUITE-Regular;
    line-height: 2.6rem;
}