#footer {
    margin-top: 100px;
    width: 100%;
    height: 210px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  #footer > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
  }
  #footer > .logo > .img {
    width: 120px;
    height: 80px;
    overflow: hidden;
  }
  #footer > .logo > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #footer > .desc {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 500px;
    height: 100%;
  }
  #footer > .desc span {
    font-size: 1.2rem;
    font-family: λ©”μΈν°νΈ;
  }