@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#login-container {
    position: relative;
    width: 600px;
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border-radius: 7px;
    opacity: 1;
    /* animation: fadein 200ms ease-in Alternate; */
}
#login-container > .login {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-container > .login > .form > h1 {
    align-self: flex-start;
    font-size: 2.6rem;
    margin-bottom: 15px;
}
#login-container > .login > .form {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 메인폰트;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login-container > .login > .form > i {
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 0px;
    cursor: pointer;
}
#login-container > .login > .form > .input-filed {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#login-container > .login > .form > .input-filed > i {
    position: absolute;
    top: 42px;
    right: 15px;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
}
#login-container > .login > .form > .input-filed > span {
    font-size: 1.6rem;
    margin-bottom: 5px;
}
#login-container > .login > .form > .input-filed > input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.6rem;
}
#login-container > .login > .form > .input-filed > input[type=password] {
    letter-spacing: 5px;
}
#login-container > .login > .form > button {
    margin-top: 20px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 50px;
    font-size: 2rem;
    font-family: 메인폰트;
    color: white;
    background-color: rgb(170, 170, 170);
}
#login-container > .login > .form > button.fullfilled {
    background-color: black;
}
#login-container > .login > .sns {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#login-container > .login > .sns > button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 50px;
    font-size: 2rem;
    font-family: 메인폰트;
}
.kakao {
    background-color: #FEE500;
    color: #000000;
}
#login-container > .sign {
    position: absolute;
    top: 0;
    right: -570px;
    width: 100%;
    height: 100%;
    padding: 20px 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #25ac84;
    z-index: 12;
    transition: all 200ms;
}
#login-container > .sign::after {
    position: absolute;
    top: 10px;
    left: 7px;
    content: '||';
    color: white;
    font-size: 3rem;
    font-weight: 100;
    opacity: 0.5;
}
#login-container > .sign:hover {
    right: -560px;
}
#login-container > .sign.show::after {
    opacity: 0;
}
#login-container > .sign.show {
    right: -50px;
}
#login-container > .sign.show > i {
    top: 30px;
    right: 80px;
    position: absolute;
    font-size: 3rem;
    color: white;
    z-index: 15;
    cursor: pointer;
}
#login-container > .sign.show > i:hover {
    color: #2E594C;
}
#login-container > .sign > h1 {
    align-self: flex-start;
    font-size: 2.6rem;
    margin-bottom: 20px;
    margin-left: -10px;
}
#login-container > .sign > .form {
    width: 100%;
    height: 100%;
    font-family: 메인폰트;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
}
#login-container > .sign > .form > .input-filed {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#login-container > .sign > .form > .input-filed > i {
    font-size: 1.4rem;
    position: absolute;
    top: 38px;
    right: 10px;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
}
#login-container > .sign > .form > .input-filed > span {
    font-size: 1.6rem;
    margin-bottom: 5px;
}
#login-container > .sign > .form > .input-filed > input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.6rem;
}
#login-container > .sign > .form > .input-filed > input[type=password] {
    letter-spacing: 5px;
}
#login-container > .sign > .form > button {
    margin-top: 20px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 50px;
    font-size: 2rem;
    font-weight: 600;
    font-family: 메인폰트;
    background-color: #74DFBF;
}