#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    z-index: 11;
    background: none;
    transition: all 200ms;
    color: white;
}

#navbar.scroll {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#navbar>.logo {
    width: 220px;
    height: 60px;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo>img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

#navbar>.nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 100%;
}

.nav-right>.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right>.login>span {
    font-family: 메인폰트;
    font-size: 1.8rem;
    cursor: pointer;
}

.nav-right>.login>button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    outline: none;
    border: none;
    color: white;
    background-color: #25ac84;
    font-size: 2.6rem;
    padding: 12px;
    border-radius: 50%;
}

.nav-right>ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-right>ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 7px 24px;
    border-radius: 7px;
    margin: 0 10px;
    cursor: pointer;
}


.nav-right>ul li:hover {
    color: #25ac84;
}

/* .nav-right>ul li.sel::after {
    position: absolute;
    content: '';
    width: 45px;
    height: 5px;
    background-color: #25ac84;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
} */

.nav-right>ul li span {
    font-family: 메인폰트;
    font-size: 1.8rem;
}

#navbar>.nav-right>ul li> span {
    color: white;
}

#navbar.scroll>.nav-right>ul li> span {
    color: black;
}

#navbar>.nav-right>ul li:hover> span {
    color: #25ac84;
}

#navbar.scroll>.nav-right>ul li:hover> span {
    color: #25ac84;
}

#navbar .nav-right>ul li.sel > span {
    color: #25ac84;
}
.nav-right>ul li > i {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    font-size: 1.6rem;
    color: #25ac84;
}

.input-group {
    position: relative;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.input-group .search_btn {
    position: absolute;
    left: 0;
    font-size: 2rem;
    background-color: transparent;
}

.inputBox {
    width: 250px;
    height: 40px;
    padding: 5px;
    padding-top: 8px;
    padding-left: 40px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #25ac84;
    outline: none;
    font-family: 메인폰트;
}

.search_btn {
    width: 40px;
    height: 40px;
    border: none;
    color: #c7c7c7
}

input::placeholder {
    font-size: 15px;
}