.show-area {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 400px;
}
.show-area > img {
    position: absolute;
    width: 100%;
    height: auto;
}
#search {
    margin-top: -20px;
    position: relative;
    width: 1400px;
    background-color: white;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#search > .menu {
    /* padding: 25px 10px; */

    display: flex;
    justify-self: center;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 40px;

    margin-bottom: 20px;
}
#search > .menu > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 40px;
    margin: 0 20px;
    font-size: 1.8rem;
    font-family: 메인폰트;
    color: rgb(150, 150, 150);
    cursor: pointer;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
}
/* #search > .menu > li::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    background-color: #cfcfcf;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

} */
#search > .menu > li:last-child::after {
    opacity: 0;
}
#search > .menu > li.sel {
    color: #25ac84;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#search > .menu > li:hover {
    color: #25ac84;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#search > .menu .img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}
#search > .menu .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#search > .container {
    width: 1300px;
    /* border: 1px solid gray; */

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 10px;
}
#search > .container > .desc-item {
    position: relative;
    width: 260px;
    height: 260px;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-shrink: 0;
    /* margin: 0 10px; */
    cursor: pointer;
    margin: 30px 30px;
}
#search > .container > .desc-item::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    border-bottom: 15px solid #dedede;
    border-left: 15px solid rgba(0, 0, 0, 0);
}
#search > .container > .desc-item:hover::after {
    border-bottom: 15px solid rgb(37, 172, 132, 0.7);
}
#search > .container > .desc-item > img {
    position: absolute;
    width: 30%;
    top: -34px;
    left: -37px;
    opacity: 0.9;
}
#search > .container > .desc-item > .img {
    width: 100%;
    height: 200px;
    background-color: #cfcfcf;
    overflow: hidden;
}
#search > .container > .desc-item > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#search > .container > .desc-item > .text {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 메인폰트;
}
#search > .container > .desc-item > .text > i {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 1.4rem;
}
#search > .container > .desc-item > .text > span {
    font-size: 1.2rem;
}
#search > .container > .desc-item > .text > span:last-child {
    margin-top: 3px;
    font-size: 1.4rem;
}

#search > .container > .course-item {
    width: 100%;
    padding: 15px;

    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: 50px;
    cursor: pointer;
}
#search > .container > .course-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#search > .container > .course-item > .area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 120px;
    height: 120px;
}
#search > .container > .course-item > .area > img {
    width: 100px;
    height: 100px;
    padding: 7px;
}
#search > .container > .course-item > .area > span {
    margin-top: -5px;
    font-size: 1.8rem;
    font-family: 메인폰트;
    margin-bottom: 10px;
}
#search > .container > .course-item > .spot {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
#search > .container > .course-item > .spot > .spot-item {
    position: relative;
    width: 180px;
    height: 200px;
    border: 1px solid rgb(230, 230, 230);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#search > .container > .course-item > .spot > .spot-item > .tape {
    position: absolute;
    top: -22px;
    left: -30px;
    width: 60px;
    opacity: 0.8;
}
#search > .container > .course-item > .spot > .spot-item > .img {
    width: 100%;
    height: 140px;
    background-color: gainsboro;
    overflow: hidden;
}
#search > .container > .course-item > .spot > .spot-item > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#search > .container > .course-item > .spot > .spot-item > span {
    font-size: 1.6rem;
    font-family: 메인폰트;
}