/* sec01 */
#sec01 {
    position: relative;
    width: 100%;
    padding-top: 70px;
    /* border: 1px solid tomato; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 2000px;
}

#sec01 > .sec01-main {
    position: relative;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 1200px;
    height: 450px;

    display: flex;
    flex-direction: column;
    border-radius: 7px;
}
#sec01 > .sec01-main > ul {
    position: absolute;
    top: -40px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid rgb(241, 241, 241); */
    border-radius: 7px;
}
#sec01 > .sec01-main > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;
    padding: 20px 0;
    background-color: #25ac84;
    color: white;
    font-family: 메인폰트;
    font-weight: 600;
    cursor: pointer;
}
#sec01 > .sec01-main > ul > li:first-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 1px solid rgb(241, 241, 241);
    border-left: 1px solid rgb(241, 241, 241);
}
#sec01 > .sec01-main > ul > li:last-child {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top: 1px solid rgb(241, 241, 241);
    border-right: 1px solid rgb(241, 241, 241);
}
#sec01 > .sec01-main > ul > li.sel:first-child {
    background-color: white;
    box-shadow: 10px 1px 5px -5px rgba(0,0,0,0.3);
    z-index: 1;
    color: #222;
}
#sec01 > .sec01-main > ul > li.sel:last-child {
    background-color: white;
    box-shadow: -10px 1px 5px -5px rgba(0,0,0,0.3);
    z-index: 1;
    color: #222;
}
#sec01 > .sec01-main > .sec01-content {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid rgb(241, 241, 241);

    display: flex;
    flex-direction: column;
    padding: 15px;
}
#sec01 > .sec01-main > .sec01-content > .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
#sec01 > .sec01-main > .sec01-content > .item > ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    flex-shrink: 0;
}
#sec01 > .sec01-main > .sec01-content > .item > ul > li {
    position: relative;
    font-size: 1.8rem;
    font-family: 메인폰트;
    margin: 0 15px;
    color: #cfcfcf;
    cursor: pointer;
}
#sec01 > .sec01-main > .sec01-content > .item > ul > li.sel {
    color: #25ac84;
}
#sec01 > .sec01-main > .sec01-content > .item > ul > li.sel::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #25ac84;
    bottom: -3px;
    left: 0;
    border-radius: 10px;
}
#sec01 > .sec01-main > .sec01-content > .desc {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: 0px;
    /* border: 1px solid rgb(220, 220, 220); */
}
#sec01 > .sec01-main > .sec01-content > .desc > .desc-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 0px;
}
#sec01 > .sec01-main > .sec01-content > .desc > .desc-container .desc-item {
    width: 275px;
    height: 275px;
    border: 1px solid rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-shrink: 0;
    /* margin: 0 10px; */
    cursor: pointer;
}
#sec01 > .sec01-main > .sec01-content > .desc > .desc-container .desc-item:hover {
    border: 1px solid rgb(110, 110, 110);
}
#sec01 > .sec01-main > .sec01-content > .desc >  .desc-container .desc-item > .img {
    width: 100%;
    height: 200px;
    background-color: grey;
}

#sec01 > .sec01-main > .sec01-content > .desc >  .desc-container .desc-item > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#sec01 > .sec01-main > .sec01-content > .desc >  .desc-container .desc-item > .desc-text {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 메인폰트;
}
#sec01 > .sec01-main > .sec01-content > .desc >  .desc-container .desc-item > .desc-text > i {
    position: absolute;
    top: -5px;
    right: 0;
    font-size: 1.6rem;
}
#sec01 > .sec01-main > .sec01-content > .desc >  .desc-container .desc-item > .desc-text > .text {
    font-size: 1.2rem;
}
#sec01 > .sec01-main > .sec01-content > .desc >  .desc-container .desc-item > .desc-text > .text:last-child {
    margin-top: 3px;
    font-size: 1.4rem;
}

#sec01 > .sec01-main > .sec01-content > .item > ul.theme > li {
    padding: 3px 5px;
}
#sec01 > .sec01-main > .sec01-content > .item > ul.theme > li.sel {
    color: black;
    border: 1px solid #25ac84;
    border-radius: 5px;
}
#sec01 > .sec01-main > .sec01-content > .item > ul.theme > li.sel::after {
    opacity: 0;
}

/* sec01-news */
.sec01-news {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.sec01-news > h1 {
    font-size: 2rem;
    font-family: 메인폰트;
    margin-bottom: 10px;
}
.sec01-news > .menu-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}
.sec01-news > .menu-bar > span {
    padding: 7px 12px;
    font-size: 1.6rem;
    font-family: 메인폰트;
    margin: 0 8px;
    border-radius: 7px;
    border: 1px solid rgb(220, 220, 220);
    color: #bbbbbb;
    opacity: 0.8;
    cursor: pointer;
    background-color: white;
}
.sec01-news > .menu-bar > span.sel {
    border: 1px solid #017858;
    color: white;
    background-color: #017858;
    opacity: 1;
}
.sec01-news > .news-desc {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
}
.sec01-news > .news-desc > .news-item {
    width: 100%;
    height: 380px;
    border-radius: 7px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    transition: all 300ms;
    overflow: hidden;
    margin: 10px 0;
}
.sec01-news > .news-desc > .news-item.close {
    height: 60px;
    overflow: hidden;
}
.sec01-news > .news-desc > .news-item > .title {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.sec01-news > .news-desc > .news-item > .title > span {
    font-size: 1.7rem;
    font-family: 메인폰트;
}
.sec01-news > .news-desc > .news-item > .title > i {
    position: absolute;
    font-size: 1.6rem;
    top: 0;
    right: 10px;
    transform-origin: 50%;
    transition: all 300ms;
    transform: rotate(-180deg);
    cursor: pointer;
}
.sec01-news > .news-desc > .news-item.close > .title > i {
    transform: rotate(0deg);
}

.sec01-news > .news-desc > .news-item > .desc {
    width: 100%;
    height: 300px;
}
.sec01-news > .news-desc > .news-item > .desc {
    display: flex;
    width: 100%;
    padding: 7px;
}
.sec01-news > .news-desc > .news-item > .desc > .img {
    width: 300px;
    height: 100%;
    background-color: gray;
    flex-shrink: 0;
    margin-right: 10px;
}
.sec01-news > .news-desc > .news-item > .desc > .img > img {
    width: 100%;
    height: 100%;
}
.sec01-news > .news-desc > .news-item > .desc > .text {
    width: 100%;
    height: 100%;
    padding: 7px;
}
.sec01-news > .news-desc > .news-item > .desc > .text > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.sec01-news > .news-desc > .news-item > .desc > .text > ul > li {
    margin: 5px 0;
    font-family: 메인폰트;
}
.sec01-news > .news-desc > .news-item > .desc > .text > ul > li > strong,
.sec01-news > .news-desc > .news-item > .desc > .text > ul > li > span {
    font-size: 1.6rem;
}
.sec01-news > .news-desc > .news-item button {
    border: none;
    outline: none;
    background-color: #25ac84;
    color: white;
    padding: 7px 20px;
    font-size: 1.4rem;
    font-family: 메인폰트;
}