/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  } */

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: lightgray;

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.swiper-button-prev {
  position: absolute;
  left: 100px;
  /* margin-left: 120px; */
  color: #fff;
}

.swiper-button-next {
  position: absolute;
  right: 100px;
  color: #fff;
}

.swiper-pagination {
  bottom: 60px;
  margin-bottom: 50px;
}

.swiper-slide {
  width: 80%;
}

.swiper-button-prev {
  position: absolute;
  left: 220px;
  /* margin-left: 120px; */
  color: #fff;
}

.swiper-button-next {
  position: absolute;
  right: 220px;
  color: #fff;
}