#content01 {
    position: relative;
    margin-top: 100px;
    display: flex;
    width: 1400px;
    height: 300px;
    background-color: #F8FDCF;
    align-self: flex-start;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding-top: 35px;
}
#content01 > .line {
    position: absolute;
    width: 20px;
    height: 100%;
    left: 0;
    background-color: #ebf977;
}
#content01 > .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    /* width: 500px; */
    height: 50px;
    background-color: white;
    top: -25px;
    left: 20px;
    padding: 20px 50px;
}
#content01 > .title > span {
    font-size: 2.6rem;
    font-family: SUITE-Regular;
}
#content01 > .tape {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: #78C1F3;
    bottom: 0px;
    right: -35px;
    transform: rotate(145deg)
}
#content01 > .item-container {
    display: flex;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    padding: 5px;
}
#content01 > .item-container > .item {
    width: 250px;
    height: 250px;
    background-color: white;
    margin: 0 10px;
}