* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 67.5%;
}

/* Scrollbar */

/* ::-webkit-scrollbar {
  overflow-x: hidden;
} */
/* ::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #dddddd;
  border-left: 9px solid white;
  border-right: 9px solid white;
}
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
  border-left: 5px solid white;
  border-right: 5px solid white;
} */

/* @font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'λ©”μΈν°νΈ';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fafafa;
}
ul,ol,li {
  list-style: none;
}
a {
  text-decoration: none;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}
video {
  width: 100%;
}
pre {
  white-space: pre-wrap;
}
.footer {
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-color: #FFF;
}